<h2>Mon profile</h2>
<h3>Premièrement</h3>
<img class="img-info" src="a11y.jpeg" alt="Lorem ipsum, dolor sit amet consectetur adipisicing elit"/>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate accusantium porro sed a eius placeat ipsum. Doloremque, eveniet aspernatur tempore eaque laudantium nobis ut sunt neque aliquid officiis! Consequuntur, nam!</p>
<ul>
  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
  <li>Ipsum libero autem accusamus quas laboriosam possimus saepe tempore</li>
  <li>Cupiditate aut eum voluptas ab enim magni tenetur officiis dignissimos</li>
</ul>
<h3>Mais aussi</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. <q>Dolores corporis distinctio numquam nobis earum perferendis necessitatibus.</q> Iure cum est odit. Porro, autem! Et est reprehenderit ex fugiat vitae consequuntur nisi.</p>
<blockquote>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quibusdam rem dolorem repellendus ad, veniam sequi, impedit, delectus a vero esse iure consectetur! Unde consectetur debitis quasi, sed esse nemo.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nesciunt, cum quidem laboriosam quia minima veritatis vel magnam dolorum sunt quos temporibus, commodi a, tempora sapiente voluptates velit molestias. Commodi!</p>
</blockquote>
<ol>
  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
  <li>Ipsum libero autem accusamus quas laboriosam possimus saepe tempore</li>
  <li>Cupiditate aut eum voluptas ab enim magni tenetur officiis dignissimos</li>
</ol>
<figure>
  <img class="img-info" src="a11y.jpeg" alt=""/>
  <figcaption>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ea dolore quibusdam non totam vero modi ratione! Deserunt velit commodi quibusdam officia id, quisquam animi quas odio optio fuga corrupti!</p>
  </figcaption>
</figure>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero provident deserunt sapiente voluptatibus, exercitationem inventore, modi mollitia alias a dolore ducimus molestiae, atque aspernatur minus sed. Aliquid consequatur laboriosam velit.</p>

<h3>Modifier mes informations</h3>
<p>Les champs marqué avec * sont obligatoires</p>

<form appFocusFirstErrorFieldOnSubmit>
  <app-input-field>
    Prénom
    <input app-input ngModel="" name="firstname">
    <ng-container error>
      Veuillez renseignez votre prénom, ce champ est obligatoire
    </ng-container>
  </app-input-field>

  <app-input-field>
    Nom
    <input app-input ngModel="" name="name">
    <ng-container error>
      Veuillez renseignez votre prénom, ce champ est obligatoire
    </ng-container>
  </app-input-field>

  <app-select-field>
    Genre
    <app-select ngModel="mm" name="genre" required [options]="['mrs', 'mm']" id="test"/>
    <ng-container subLabel>
      MR/MM
    </ng-container>
    <ng-container error>
      Veuillez renseignez votre genre, ce champ est obligatoire
    </ng-container>
  </app-select-field>

  <fieldset>
    <legend>Date de naissance</legend>

    <app-input-field>
      Jour
      <input app-input ngModel="" name="jour">
      <ng-container error>
        Veuillez renseignez votre jour, ce champ est obligatoire
      </ng-container>
    </app-input-field>

    <app-input-field>
      mois
      <input app-input ngModel="" name="mois">
      <ng-container error>
        Veuillez renseignez votre mois, ce champ est obligatoire
      </ng-container>
    </app-input-field>

    <app-input-field>
      Année
      <input app-input ngModel="" name="annee">
      <ng-container error>
        Veuillez renseignez votre année, ce champ est obligatoire
      </ng-container>
    </app-input-field>
  </fieldset>

  <app-input-field>
    Email
    <input app-input ngModel="" name="email" required>
    <ng-container error>
      Veuillez renseignez votre email, ce champ est obligatoire
    </ng-container>
    <ng-container subLabel>
      xxx&#64;email.com
    </ng-container>
  </app-input-field>

  <app-input-field>
    Téléphone
    <input app-input ngModel="" name="phone" required>
    <ng-container subLabel>
      XX/XX/XX/XX/XX
    </ng-container>
    <ng-container error>
      Veuillez renseignez votre téléphone, ce champ est obligatoire
    </ng-container>
  </app-input-field>

  <app-input-field>
    Message
    <input app-input ngModel="" name="message" required>
    <ng-container error>
      Veuillez renseignez votre message, ce champ est obligatoire
    </ng-container>
  </app-input-field>

  <button type="submit">Enregistrer</button>
</form>

<h3>Mes statistiques</h3>

<table>
  <caption>
    Mes derniers login
  </caption>
  <tr>
    <th>Date</th>
    <th>Lieu</th>
  </tr>
  <tr>
    <td>10 juin 2023</td>
    <td>Boston</td>
  </tr>
  <tr>
    <td>1 novembre 2024</td>
    <td>Chicago</td>
  </tr>
</table>

<table summary="Column one has the location and size of accommodation, other columns show the type and number of properties available">
  <caption>
      Availability of holiday accommodation
  </caption>
  <thead>
      <tr>
          <td></td>
          <th id="stud" scope="col">
              Studio
          </th>
          <th id="apt" scope="col">
              <abbr title="Apartment">Apt</abbr>
          </th>
          <th id="chal" scope="col">
              Chalet
          </th>
          <th id="villa" scope="col">
              Villa
          </th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <th id="par" class="span" colspan="5" scope="colgroup">
              Paris
          </th>
      </tr>
      <tr>
          <th headers="par" id="pbed1">
              1 bedroom
          </th>
          <td headers="par pbed1 stud">
              11
          </td>
          <td headers="par pbed1 apt">
              20
          </td>
          <td headers="par pbed1 chal">
              25
          </td>
          <td headers="par pbed1 villa">
              23
          </td>
      </tr>
      <tr>
          <th headers="par" id="pbed2">
              2 bedroom
          </th>
          <td headers="par pbed2 stud">
              -
          </td>
          <td headers="par pbed2 apt">
              43
          </td>
          <td headers="par pbed2 chal">
              52
          </td>
          <td headers="par pbed2 villa">
              32
          </td>
      </tr>
      <tr>
          <th headers="par" id="pbed3">
              3 bedroom
          </th>
          <td headers="par pbed3 stud">
              -
          </td>
          <td headers="par pbed3 apt">
              13
          </td>
          <td headers="par pbed3 chal">
              15
          </td>
          <td headers="par pbed3 villa">
              40
          </td>
      </tr>
      <tr>
          <th id="rome" class="span" colspan="5" scope="colgroup">
              Rome
          </th>
      </tr>
      <tr>
          <th id="rbed1" headers="rome">
              1 bedroom
          </th>
          <td headers="rome rbed1 stud">
              13
          </td>
          <td headers="rome rbed1 apt">
              21
          </td>
          <td headers="rome rbed1 chal">
              22
          </td>
          <td headers="rome rbed1 villa">
              3
          </td>
      </tr>
      <tr>
          <th id="rbed2" headers="rome">
              2 bedroom
          </th>
          <td headers="rome rbed2 stud">
              -
          </td>
          <td headers="rome rbed2 apt">
              23
          </td>
          <td headers="rome rbed2 chal">
              43
          </td>
          <td headers="rome rbed2 villa">
              30
          </td>
      </tr>
      <tr>
          <th id="rbed3" headers="rome">
              3 bedroom
          </th>
          <td headers="rome rbed3 stud">
              -
          </td>
          <td headers="rome rbed3 apt">
              16
          </td>
          <td headers="rome rbed3 chal">
              32
          </td>
          <td headers="rome rbed3 villa">
              40
          </td>
      </tr>
    </tbody>
  </table>
