<h2>Mon profile</h2>
<h3>Premièrement</h3>
<img class="img-info" src="a11y.jpeg" alt="Lorem ipsum, dolor sit amet consectetur adipisicing elit"/>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate accusantium porro sed a eius placeat ipsum. Doloremque, eveniet aspernatur tempore eaque laudantium nobis ut sunt neque aliquid officiis! Consequuntur, nam!</p>
<ul>
  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
  <li>Ipsum libero autem accusamus quas laboriosam possimus saepe tempore</li>
  <li>Cupiditate aut eum voluptas ab enim magni tenetur officiis dignissimos</li>
</ul>
<h3>Mais aussi</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. <q>Dolores corporis distinctio numquam nobis earum perferendis necessitatibus.</q> Iure cum est odit. Porro, autem! Et est reprehenderit ex fugiat vitae consequuntur nisi.</p>
<blockquote>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quibusdam rem dolorem repellendus ad, veniam sequi, impedit, delectus a vero esse iure consectetur! Unde consectetur debitis quasi, sed esse nemo.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nesciunt, cum quidem laboriosam quia minima veritatis vel magnam dolorum sunt quos temporibus, commodi a, tempora sapiente voluptates velit molestias. Commodi!</p>
</blockquote>
<ol>
  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
  <li>Ipsum libero autem accusamus quas laboriosam possimus saepe tempore</li>
  <li>Cupiditate aut eum voluptas ab enim magni tenetur officiis dignissimos</li>
</ol>
<figure>
  <img class="img-info" src="a11y.jpeg" alt=""/>
  <figcaption>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ea dolore quibusdam non totam vero modi ratione! Deserunt velit commodi quibusdam officia id, quisquam animi quas odio optio fuga corrupti!</p>
  </figcaption>
</figure>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero provident deserunt sapiente voluptatibus, exercitationem inventore, modi mollitia alias a dolore ducimus molestiae, atque aspernatur minus sed. Aliquid consequatur laboriosam velit.</p>

<h3>Modifier mes informations</h3>
<p>Les champs marqué avec * sont obligatoires</p>

<form appFocusFirstErrorFieldOnSubmit>
  <app-input-field>
    Prénom
    <input app-input [(ngModel)]="firstname" name="firstname">
    <ng-container error>
      Veuillez renseignez votre prénom, ce champ est obligatoire
    </ng-container>
  </app-input-field>

  <app-input-field>
    Nom
    <input app-input [(ngModel)]="name" name="name">
    <ng-container error>
      Veuillez renseignez votre prénom, ce champ est obligatoire
    </ng-container>
  </app-input-field>

  <fieldset>
    <legend>Date de naissance</legend>

    <app-input-field>
      Jour
      <input app-input ngModel="" name="jour">
      <ng-container error>
        Veuillez renseignez votre jour, ce champ est obligatoire
      </ng-container>
    </app-input-field>

    <app-input-field>
      mois
      <input app-input ngModel="" name="mois">
      <ng-container error>
        Veuillez renseignez votre mois, ce champ est obligatoire
      </ng-container>
    </app-input-field>

    <app-input-field>
      Année
      <input app-input ngModel="" name="annee">
      <ng-container error>
        Veuillez renseignez votre année, ce champ est obligatoire
      </ng-container>
    </app-input-field>
  </fieldset>

  <app-input-field>
    Email
    <input app-input [(ngModel)]="email" name="email" required>
    <ng-container error>
      Veuillez renseignez votre email, ce champ est obligatoire
    </ng-container>
    <ng-container subLabel>
      xxx&#64;email.com
    </ng-container>
  </app-input-field>

  <app-input-field>
    Téléphone
    <input app-input [(ngModel)]="phone" name="phone" required>
    <ng-container subLabel>
      XX/XX/XX/XX/XX
    </ng-container>
    <ng-container error>
      Veuillez renseignez votre téléphone, ce champ est obligatoire
    </ng-container>
  </app-input-field>

  <app-input-field>
    Message
    <input app-input [(ngModel)]="message" name="message" required>
    <ng-container error>
      Veuillez renseignez votre message, ce champ est obligatoire
    </ng-container>
  </app-input-field>

  <button type="submit">Enregistrer</button>
</form>
