{{ value() }}
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="field.elementRef"
  [cdkConnectedOverlayOpen]="isOpen()"
  [cdkConnectedOverlayDisableClose]="true"
>
  <div class="select-menu"
        role="listbox"
        [id]="fieldControl.popupId()"
        [attr.aria-labelledby]="field.labelId()"
        [attr.aria-activedescendant]="keyManager.activeItem ? keyManager.activeItem.id() : null"
        tabindex="-1">
        @for (option of options(); track $index) {
          <div appSelectOption>
            {{ option }}
          </div>
        }
  </div>
</ng-template>
