<p class="sr-only">
  Utiliser la touche Tab ou la flèche bas pour accéder aux suggestions.
  Confirmer votre choix avec la touche Enter ou fermer la liste des suggestions avec la touche ESC.
</p>
{{ value() }}
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="fieldControl.elementRef"
  [cdkConnectedOverlayOpen]="isOpen()"
  [cdkConnectedOverlayDisableClose]="true"
  (overlayOutsideClick)="isOpen.set(false)"
>
  <ul class="select-listbox"
        cdkListbox
        [cdkListboxValue]="value()"
        [id]="fieldControl.popupId()"
        [attr.aria-labelledby]="field.labelId()">
        @for (option of options(); track $index) {
          <li [cdkOption]="option">
            {{ option }}
          </li>
        }
      </ul>
</ng-template>
