:host {
  display: block;
  width: 147px;
  border: 1px solid black;
}

.select-listbox {
  background-color: white;
  width: 147px;
  border: 1px solid black;
  margin: 0;
}

.cdk-option-active {
  outline: -webkit-focus-ring-color auto 1px;
}
