header {
  background-color: azure;
  display: flex;
  padding: 20px;
  .home-img {
    width: 100px;
  }
}

footer {
  background-color: beige;
  padding: 20px;
  .img-footer {
    width: 100px;
  }
}

main {
  padding: 20px;
}

nav > ul {
  flex: 1;
  list-style: none;
  display: flex;
  align-items: center;
  > li:not(:last-child) {
    margin-right: 12px;
    a.active {
      text-decoration: underline;
    }
  }
  margin: 0;
  padding-left: 20px;

  a {
   text-decoration: unset;
   color: unset;
  }
}
