<button (click)="content.focus()" class="sr-only sr-only-focusable">Aller au contenu</button>
<header role="banner">
  <nav role="navigation" arial-label="menu principal">
    <ul>
      <li>
        <a [routerLink]="['/cards']" routerLinkActive="active" appAriaCurrentPage>
          <img class="home-img" src="a11y.jpeg" aria-hidden="true"/>
          <span class="sr-only">Page d'accueil</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/patterns']" routerLinkActive="active" appAriaCurrentPage>Patterns</a>
      </li>
      <li>
        <a [routerLink]="['/profile']" routerLinkActive="active" appAriaCurrentPage>Profile</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <h1 tabindex="-1" #content>Content</h1>
  <router-outlet></router-outlet>
</main>
<footer>
  <p>
    Contact: mikael.matpadoa-group.com
  </p>
  <img class="img-footer" alt="" src="a11y.jpeg"/>
</footer>
