<button (click)="content.focus()" class="sr-only sr-only-focusable">Aller au contenu</button>
<header role="banner">
  <nav role="navigation" arial-label="menu principal">
    <ul>
      <li>
        <a [routerLink]="['/']">{{ title }}</a>
      </li>
      <li>
        <a [routerLink]="['/patterns']" routerLinkActive="active" appAriaCurrentPage #rla="routerLinkActive">Patterns</a>
      </li>
      <li>
        <a [routerLink]="['/profile']" routerLinkActive="active" appAriaCurrentPage #rla="routerLinkActive">Profile</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <h1 tabindex="-1" #content>Content</h1>
  <ul class="cards">
    <li class="css-card">
      <p>Vous pouvez explorer les patterns.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt officia, maxime molestias qui asperiores iusto eos ipsam magni, labore eum saepe totam placeat in velit quo, eveniet aliquam atque cumque.</p>
      <a [routerLink]="['/patterns']" routerLinkActive="active" #rla="routerLinkActive">Voir plus</a>
    </li>
    <li>
      <p>Vous pouvez consulter votre profile.</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt aspernatur impedit praesentium quibusdam minus doloribus enim distinctio corrupti voluptatem? Quasi recusandae error laboriosam ut deleniti aspernatur exercitationem sit explicabo molestiae.</p>
      <a [routerLink]="['/profile']" routerLinkActive="active" #rla="routerLinkActive">Voir plus</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</main>
<footer>
  <p>
    Contact: mikael.matpadoa-group.com
  </p>
</footer>
