:host {
  display: block;
}

.cards {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  > li {
    flex:1;
    margin: 0;
    padding: 20px;
    border: 1px solid black;
    margin-right: 20px;
    position: relative;
  }
  > li.css-card > a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
